.box_con {
    display:flex;
    width: 400px;
    height: 140px;
    
    justify-content: space-around;
    align-items: center;
}

.box_con > div{
    color: white;
    text-align:center;
    

    background-color: coral;
    border:1px coral solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
