.box_con {
    display:flex;
    width: 350px;
    height: 350px;
    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box_con > div{
    color: white;
    text-align:center;
    

    background-color: coral;
    border:1px coral solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
  
.box1 {
    
  }
.box2 {
    
  }
.box3 {
  }